@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@(IsVisible ? "visible" : "")">
    <div class="title" onclick="@Restart">Restart</div>
</root>

@code
{

    public bool IsVisible { get; set; } = false;
    [Property] public SceneFile level;
    [Property] public string sceneName;
    private void Restart()
    {
        //Scene.Load(level);
        Scene.LoadFromFile(sceneName);
    }
    /// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(IsVisible);
}