@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root class="@(IsVisible ? "visible" : "")">
    <div class="title">@MyStringValue</div>
</root>

@code
{

    [Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
    public bool IsVisible { get; set; } = false;

    protected override void OnStart()
    {
        Log.Info("Death");
    }
    /// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(IsVisible);
}