MainMenu {
	font-family: 'Dogica Pixel';
	pointer-events: all;

	.GameName {
		position: absolute;
		font-size: 64px;
		color: green;
		top: 150px;
		left: 550px;
	}

	.jabaRun {
		position: absolute;
		font-size: 42px;
		color: #fff;
		top: 420px;
		left: 800px;
		
	}

	.jabaRun:hover {
		color: gray;
	}

	.close {
		position: absolute;
		font-size: 42px;
		color: #fff;
		top: 510px;
		left: 850px;
	}

	.close:hover {
		color: gray;
	}
}
